@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@800&family=Poppins&family=Sawarabi+Gothic&family=Sometype+Mono&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #121012;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

header, .nav-ul {
    display: flex;
}

.nav-bar {
    display: grid;
    place-items: center;
}


.nav-ul li {
    margin: 1rem;
}



a, li {
    list-style-type: none;
    text-decoration: none;
    color: #00ff28;
    text-shadow: rgba(64,255,0,0.9) 0px 0px 22px;
    font-weight: bold;
}